---
import { getI18N } from "../../i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---


<div class="h-screen w-full mx-auto text-pretty py-8 px-6 flex items-center bg-gradient-to-r from-blue-900 via-gray-900 to-blue-900">
    <div class="flex flex-col md:flex-row w-full space-y-8 md:space-y-0 md:space-x-8 justify-center items-start">
        <div class="flex flex-col w-full md:w-1/2 bg-gray-800 bg-opacity-75 rounded-3xl p-8 shadow-2xl">
            <div class="flex flex-col md:flex-row w-full space-y-4 md:space-y-0">
                <div class="w-full md:w-1/2 px-4">
                    <form class="mb-6">
                        <label for="medium1" class="block mb-2 text-sm font-medium text-blue-300 text-center">
                            {i18n.SIMULATOR.OPTION_1}
                        </label>
                        <select id="medium1" class="bg-gray-700 border border-gray-500 text-blue-100 text-sm rounded-lg focus:ring-blue-400 focus:border-blue-400 block w-full p-2.5">
                            <option value="300000">{i18n.SIMULATOR.COMBOBOX.OPTION_1}</option>
                            <option value="299910" selected>{i18n.SIMULATOR.COMBOBOX.OPTION_2}</option>
                            <option value="225564">{i18n.SIMULATOR.COMBOBOX.OPTION_3}</option>
                            <option value="220588">{i18n.SIMULATOR.COMBOBOX.OPTION_4}</option>
                            <option value="205479">{i18n.SIMULATOR.COMBOBOX.OPTION_5}</option>
                            <option value="197368">{i18n.SIMULATOR.COMBOBOX.OPTION_6}</option>
                            <option value="186335">{i18n.SIMULATOR.COMBOBOX.OPTION_7}</option>
                            <option value="123967">{i18n.SIMULATOR.COMBOBOX.OPTION_8}</option>
                        </select>
                        <p class="font-bold text-lg">{ i18n.SIMULATOR.TITLE_OPTIONS.OPTION_1 }: <span id="medio1" class="font-light"></span></p>
                    </form>
                    <form class="mb-6">
                        <label for="medium2" class="block mb-2 text-sm font-medium text-blue-300 text-center">
                            {i18n.SIMULATOR.OPTION_2}
                        </label>
                        <select id="medium2" class="bg-gray-700 border border-gray-500 text-blue-100 text-sm rounded-lg focus:ring-blue-400 focus:border-blue-400 block w-full p-2.5">
                            <option value="300000">{i18n.SIMULATOR.COMBOBOX.OPTION_1}</option>
                            <option value="299910">{i18n.SIMULATOR.COMBOBOX.OPTION_2}</option>
                            <option value="225564" selected>{i18n.SIMULATOR.COMBOBOX.OPTION_3}</option>
                            <option value="220588">{i18n.SIMULATOR.COMBOBOX.OPTION_4}</option>
                            <option value="205479">{i18n.SIMULATOR.COMBOBOX.OPTION_5}</option>
                            <option value="197368">{i18n.SIMULATOR.COMBOBOX.OPTION_6}</option>
                            <option value="186335">{i18n.SIMULATOR.COMBOBOX.OPTION_7}</option>
                            <option value="123967">{i18n.SIMULATOR.COMBOBOX.OPTION_8}</option>
                        </select>
                        <p class="font-bold text-lg">{ i18n.SIMULATOR.TITLE_OPTIONS.OPTION_2 }: <span id="medio2" class="font-light"></span></p>
                    </form>
                    <div class="mb-6">
                        <label for="angleInput" class="block mb-2 text-sm font-medium text-blue-300 text-center">
                            {i18n.SIMULATOR.ANGLE_INCIDENCE}
                        </label>
                        <input
                            id="angleInput"
                            type="number"
                            step="0.01"
                            value="30"
                            class="bg-gray-700 border border-gray-500 text-blue-100 text-sm rounded-lg focus:ring-blue-400 focus:border-blue-400 block w-full p-2.5"
                        />
                    </div>
                    <div class="mb-6 text-center">
                        <p class="text-white text-lg font-semibold">
                            {i18n.SIMULATOR.RESULTS_1}
                            <span id="reflectionAngle"></span>
                        </p>
                        <p class="text-white text-lg font-semibold">
                            {i18n.SIMULATOR.RESULTS_2}
                            <span id="refractionAngle"></span>
                        </p>
                    </div>
                </div>
                <div class="w-full md:w-1/2 px-4 flex justify-center items-center">
                    <canvas
                        id="refractionChart"
                        width="400"
                        height="400"
                        class="rounded-lg shadow-lg"
                    ></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../Simulador/SimuladorLogic.js"></script>