---
import { Image } from "astro:assets";
import FimeLogo from "../../public/logo-fime.ico";

import { getI18N } from "../i18n/";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<footer>
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
            <div class="mb-6 md:mb-0">
                <a href="https://www.fime.uanl.mx/" class="flex items-center">
                    <Image
                        src={FimeLogo}
                        alt="Factuldad de Ingenieria Mecánica y Eléctrica"
                        width="80"
                        height="100"
                        loading="lazy"
                    />
                </a>
            </div>
            <div class="grid grid-cols-2 gap-8 sm:gap-1 sm:grid-cols-3">
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-white">
                        {i18n.FOOTER.FIRST_HEADER}
                    </h2>
                    <ul class="text-gray-500 dark:text-gray-400 font-medium">
                        <li class="mb-4">
                            <a
                                href="https://github.com/Davidsupport/FIME-SIMULADOR.git"
                                class="hover:text-[#d0d3d4]"
                                >{i18n.FOOTER.CONTENT.FIRST_CONTENT}</a
                            >
                        </li>
                        <li>
                            <a
                                href="https://tailwindcss.com/"
                                class="hover:text-[#d0d3d4]">Tailwind CSS</a
                            >
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-white">
                        {i18n.FOOTER.SECOND_HEADER}
                    </h2>
                    <ul class="text-gray-500 dark:text-gray-400 font-medium">
                        <li class="mb-4">
                            <a
                                href="https://github.com/Davidsupport"
                                class="hover:text-[#d0d3d4]">Github</a
                            >
                        </li>
                        <li>
                            <a
                                href="https://www.instagram.com/its.david_ssj/"
                                class="hover:text-[#d0d3d4]">Instagram</a
                            >
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-white">
                        {i18n.FOOTER.THIRD_HEADER}
                    </h2>
                    <ul class="text-gray-500 dark:text-gray-400 font-medium">
                        <a href="https://www.youtube.com/@josueaguilar7126"
                            class="hover:text-[#d0d3d4]"> Youtube Dr. Josue <br> Amilcar Aguilar Martinez</a>
                    </ul>
                </div>
            </div>
        </div>
        <hr
            class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8"
        />
        <div class="sm:flex sm:items-center sm:justify-between">
            <span
                class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
            >
            </span>
            <div class="flex mt-4 sm:justify-center sm:mt-0">
                <a
                    href="https://github.com/Davidsupport"
                    class="text-gray-500 hover:text-[#d0d3d4] ms-5"
                >
                    <svg
                        class="w-4 h-4"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <span class="sr-only">GitHub account</span>
                </a>
                <a
                    href="https://www.instagram.com/its.david_ssj/"
                    class="text-gray-500 hover:text-[#d0d3d4] ms-5"
                >
                    <svg
                        class="w-4 h-4"
                        viewBox="0 0 24 24"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                        ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                            id="SVGRepo_tracerCarrier"
                            stroke-linecap="round"
                            stroke-linejoin="round"></g><g
                            id="SVGRepo_iconCarrier"
                        >
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M12 18C15.3137 18 18 15.3137 18 12C18 8.68629 15.3137 6 12 6C8.68629 6 6 8.68629 6 12C6 15.3137 8.68629 18 12 18ZM12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16Z"
                                fill="currentColor"></path>
                            <path
                                d="M18 5C17.4477 5 17 5.44772 17 6C17 6.55228 17.4477 7 18 7C18.5523 7 19 6.55228 19 6C19 5.44772 18.5523 5 18 5Z"
                                fill="currentColor"></path>
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M1.65396 4.27606C1 5.55953 1 7.23969 1 10.6V13.4C1 16.7603 1 18.4405 1.65396 19.7239C2.2292 20.8529 3.14708 21.7708 4.27606 22.346C5.55953 23 7.23969 23 10.6 23H13.4C16.7603 23 18.4405 23 19.7239 22.346C20.8529 21.7708 21.7708 20.8529 22.346 19.7239C23 18.4405 23 16.7603 23 13.4V10.6C23 7.23969 23 5.55953 22.346 4.27606C21.7708 3.14708 20.8529 2.2292 19.7239 1.65396C18.4405 1 16.7603 1 13.4 1H10.6C7.23969 1 5.55953 1 4.27606 1.65396C3.14708 2.2292 2.2292 3.14708 1.65396 4.27606ZM13.4 3H10.6C8.88684 3 7.72225 3.00156 6.82208 3.0751C5.94524 3.14674 5.49684 3.27659 5.18404 3.43597C4.43139 3.81947 3.81947 4.43139 3.43597 5.18404C3.27659 5.49684 3.14674 5.94524 3.0751 6.82208C3.00156 7.72225 3 8.88684 3 10.6V13.4C3 15.1132 3.00156 16.2777 3.0751 17.1779C3.14674 18.0548 3.27659 18.5032 3.43597 18.816C3.81947 19.5686 4.43139 20.1805 5.18404 20.564C5.49684 20.7234 5.94524 20.8533 6.82208 20.9249C7.72225 20.9984 8.88684 21 10.6 21H13.4C15.1132 21 16.2777 20.9984 17.1779 20.9249C18.0548 20.8533 18.5032 20.7234 18.816 20.564C19.5686 20.1805 20.1805 19.5686 20.564 18.816C20.7234 18.5032 20.8533 18.0548 20.9249 17.1779C20.9984 16.2777 21 15.1132 21 13.4V10.6C21 8.88684 20.9984 7.72225 20.9249 6.82208C20.8533 5.94524 20.7234 5.49684 20.564 5.18404C20.1805 4.43139 19.5686 3.81947 18.816 3.43597C18.5032 3.27659 18.0548 3.14674 17.1779 3.0751C16.2777 3.00156 15.1132 3 13.4 3Z"
                                fill="currentColor"></path>
                        </g></svg
                    >
                    <span class="sr-only">Instagram account</span>
                </a>
            </div>
        </div>
    </div>
</footer>
